:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --second-text-color: #9da4bd;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

/** -----------------------HEADER---------------------- */

.header {
  background-color: var(--second-text-color);
}

.header-navigation {
}

.header-logo {
}

.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-btn-color);
}

.header-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.header-btn {
  color: var(--main-title-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/** -----------------------HERO---------------------- */

.hero {
  background-color: #7e8291;
}
.hero-list {
}

.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/** -----------------------ABOUT---------------------- */

.about {
}
.about-list {
}

.about-item {
}
.about-top-text {
  color: var(--second-title-color);
}
.about-title {
  color: var(--second-title-color);
}
.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: var(--second-title-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/** -----------------------PRICES---------------------- */

.prices {
  background-color: var(--second-title-color);
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}
.list {
}

.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.prices-btn {
  color: var(--main-title-color);
}

/** -----------------------BENEFITS---------------------- */

.benefits {
}
.benefits-list {
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.benefits-item .count + p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-item-text {
}
.benefits-top-text {
  color: var(--second-title-color);
}
.benefits-title {
  color: var(--second-title-color);
}
.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/** -----------------------BARBERS---------------------- */

.barbers {
}
.barbers-top-text {
  color: var(--second-title-color);
}

.barbers-title {
  color: var(--second-title-color);
}

.barbers-list {
}

.barbers-item {
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.subtitle-works {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--second-title-color);
}

.form-section {
  background: #191c26;
}

.form-title {
  color: var(--main-title-color);
}

.footer-adress {
  font-style: normal;

  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.footer-contacts {
  font-style: normal;

  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.info {
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.2em;

  color: var(--second-text-color);
}

.footer-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.2em;

  color: var(--second-text-color);
}
